$base-color: #847de2;
$border-dark: rgba($base-color, 0.88);

#login-title {
  margin-top: 10vh;
  text-align: center;
}
#login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-top: 4vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#content-error-text,
#component-error-text {
  color: rgb(255, 39, 39);
}
#component-error-text {
  margin-top: -0.8rem;
}

.underform-text {
  text-align: center;
  margin-top: 1rem;
}

.underform-text a {
  text-decoration: none;
}
