#question-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 24px;
}

#question-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.question-textfield,
.question-input {
  width: 100%;
}

#submit-question-form {
  margin-left: 10px;
  height: 56px;
  width: 7%;
  margin-bottom: auto;
}
